.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item .btn-link {
  color: #555;
  font-size: 1rem;
  padding: 0;
}

.navbar-nav .nav-item .btn-link:hover {
  color: #dc3545; /* Optional hover effect for logout */
  text-decoration: none;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  margin-right: 5px;
}
