<div style="background-color: ghostwhite">
  <app-navbar
    (helpClicked)="openChat()"
    (helpClicked1)="openChat1()"
    (helpClicked3)="openChat3()"
    (helpClicked4)="openChat4()"
    (helpClicked5)="openChat5()"
  ></app-navbar>

  <app-chattbot
    *ngIf="chatVisible"
    [chatbotEndpoint]="'http://localhost:5005/webhooks/rest/webhook'"
    (close)="closeChat()"
  ></app-chattbot>
  <app-chatbot2
    *ngIf="chatVisible1"
    [chatbotEndpoint]="'http://localhost:5005/webhooks/rest/webhook'"
    (close)="closeChat1()"
    [username]="this.username"
  ></app-chatbot2>
  <app-chatbot3
    *ngIf="chatVisible3"
    [chatbotEndpoint]="'http://localhost:5005/webhooks/rest/webhook'"
    [username]="this.username"
    (close)="closeChat3()"
  ></app-chatbot3>
  <app-chatbot4
    *ngIf="chatVisible4"
    [chatbotEndpoint]="'http://localhost:5005/webhooks/rest/webhook'"
    [username]="this.username"
    (close)="closeChat4()"
  ></app-chatbot4>
  <app-chatbot5
    *ngIf="chatVisible5"
    [chatbotEndpoint]="'http://localhost:5005/webhooks/rest/webhook'"
    [username]="this.username"
    (close)="closeChat5()"
  ></app-chatbot5>
  <router-outlet></router-outlet>
</div>
