
<section id="category">
    <div class="container p-3 p-md-5">
<div class="product" *ngFor="let product of products">
    <div class="row mt-2">
      <div class="col-6 col-md-2">
          <img [src]="product.image" alt="productImage" class="img-fluid img-thumbnail">
      </div>
      <div class="col-5 col-md-10" >
        <div class="row" style="margin-top: 4px; padding: 3px;">
            <h5>
          {{ product.name }}
            </h5>
            <p>€ {{ product.price }}</p>
         
          
        </div>
        <div>
            <button mat-raised-button
            color="warn"
            class="mt-2"
          >
            Buy Now
          </button>
        </div>
      </div>
    </div>
</div>
</div>
</section>